Source: disem
Section: unknown
Priority: extra
Maintainer: Marcos Mayorga <mm@mm-studios.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.1
Homepage: mm-studios.com

Package: disem
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, xsltproc
Description: Disemination of projects from svn/git development repository
 Project disemination from development repository. It patches source code with headers.
